extends ../main

block variables
    - var title = 'Главная'

block content
    main.list
        //- breadcrumbs
        .container
            .bread
                a(href='/').bread__item Главная
                +icon('angle-r','bread__seporator')
                span.bread__item.bread__item_active Результат фильтрации
        //- row
        section.list__row
            .container
                form.list__form
                    .row
                        //- left
                        .left.list__left
                            //- filters
                            .list__filters
                                .filters
                                    //- title
                                    .filters__title Фильтр товаров
                                    //- list
                                    .filters__list
                                        //- Производитель
                                        .filter
                                            .filter__title Производитель
                                            .filter__list
                                                each i in filter1
                                                    .filter__item
                                                        .filter__check
                                                            label.check
                                                                input(type='checkbox' name='product' value=i).check__input
                                                                span.check__wrap
                                                                    span.check__fake
                                                                    span.check__title= i
                                                .filter__hidden
                                                    each i in filter1
                                                        .filter__item
                                                            .filter__check
                                                                label.check
                                                                    input(type='checkbox' name='product' value=i).check__input
                                                                    span.check__wrap
                                                                        span.check__fake
                                                                        span.check__title= i
                                            +filterMore()
                                        //- Стоимость товара
                                        .filter
                                            .filter__title Стоимость товара
                                            .filter__list
                                                .filter__inputs
                                                    input(type='text' name='priceFrom' placeholder='от 100').filter__input
                                                    input(type='text' name='priceTo' placeholder='до 199 000').filter__input
                                        //- Рейтинг
                                        .filter
                                            .filter__title Рейтинг
                                            .filter__list
                                                each i in filter3
                                                    .filter__item
                                                        .filter__check
                                                            label.check
                                                                input(type='checkbox' name='rating' value=i).check__input
                                                                span.check__wrap
                                                                    span.check__fake
                                                                    span.check__rating
                                                                        span.check__stars
                                                                            each s in [1,2,3,4,5]
                                                                                span(class=s <= i ? 'active' : '').check__star
                                                                                    +icon('star', 'check__star-svg')
                                                                        span.check__rating-count (12)



                                        //- Модель процессора
                                        .filter
                                            .filter__title Модель процессора
                                            .filter__list
                                                each i in filter4
                                                    .filter__item
                                                        .filter__check
                                                            label.check
                                                                input(type='checkbox' name='cpu' value=i).check__input
                                                                span.check__wrap
                                                                    span.check__fake
                                                                    span.check__title= i
                                                .filter__hidden
                                                    each i in filter4
                                                        .filter__item
                                                            .filter__check
                                                                label.check
                                                                    input(type='checkbox' name='cpu' value=i).check__input
                                                                    span.check__wrap
                                                                        span.check__fake
                                                                        span.check__title= i
                                            +filterMore()
                                        //- Оперативная память
                                        .filter
                                            .filter__title Оперативная память
                                            .filter__list
                                                each i in filter5
                                                    .filter__item
                                                        .filter__check
                                                            label.check
                                                                input(type='checkbox' name='ddr' value=i).check__input
                                                                span.check__wrap
                                                                    span.check__fake
                                                                    span.check__title= i
                                                .filter__hidden
                                                    each i in filter5
                                                        .filter__item
                                                            .filter__check
                                                                label.check
                                                                    input(type='checkbox' name='ddr' value=i).check__input
                                                                    span.check__wrap
                                                                        span.check__fake
                                                                        span.check__title= i
                                            +filterMore()

                                    //- bottom
                                    .filters__bottom
                                        button(type='reset').filters__reset.btn.btn_g Сбросить фильтры

                            //- blog
                            .list__blog.list__blog_t
                                +blog([1, 2])
                        //- right
                        .right.list__right.list-search__right
                            //- title
                            .list__title Результаты поиска: видеокарта
                            //- top
                            .list__top
                                //- sort
                                .list__sort
                                    select.sort.select
                                        option(value='По популярностии') По популярностии
                                        option(value='По цене') По цене

                                //- filters-btn
                                .list__filters-btn
                                    button(type='button').filters-btn
                                        span.filters-btn__title Фильтр товаров
                                        +icon('filter', 'filters-btn__svg')
                                    .list__filters.list__filters_t
                                        .filters
                                            //- title
                                            .filters__title Фильтр товаров
                                            //- list
                                            .filters__list
                                                //- Производитель
                                                .filter
                                                    .filter__title Производитель
                                                    .filter__list
                                                        each i in filter1
                                                            .filter__item
                                                                .filter__check
                                                                    label.check
                                                                        input(type='checkbox' name='product' value=i).check__input
                                                                        span.check__wrap
                                                                            span.check__fake
                                                                            span.check__title= i
                                                        .filter__hidden
                                                            each i in filter1
                                                                .filter__item
                                                                    .filter__check
                                                                        label.check
                                                                            input(type='checkbox' name='product' value=i).check__input
                                                                            span.check__wrap
                                                                                span.check__fake
                                                                                span.check__title= i
                                                    +filterMore()
                                                //- Стоимость товара
                                                .filter
                                                    .filter__title Стоимость товара
                                                    .filter__list
                                                        .filter__inputs
                                                            input(type='text' name='priceFrom' placeholder='от 100').filter__input
                                                            input(type='text' name='priceTo' placeholder='до 199 000').filter__input
                                                //- Рейтинг
                                                .filter
                                                    .filter__title Рейтинг
                                                    .filter__list
                                                        each i in filter3
                                                            .filter__item
                                                                .filter__check
                                                                    label.check
                                                                        input(type='checkbox' name='rating' value=i).check__input
                                                                        span.check__wrap
                                                                            span.check__fake
                                                                            span.check__rating
                                                                                span.check__stars
                                                                                    each s in [1,2,3,4,5]
                                                                                        span(class=s <= i ? 'active' : '').check__star
                                                                                            +icon('star', 'check__star-svg')
                                                                                span.check__rating-count (12)



                                                //- Модель процессора
                                                .filter
                                                    .filter__title Модель процессора
                                                    .filter__list
                                                        each i in filter4
                                                            .filter__item
                                                                .filter__check
                                                                    label.check
                                                                        input(type='checkbox' name='cpu' value=i).check__input
                                                                        span.check__wrap
                                                                            span.check__fake
                                                                            span.check__title= i
                                                        .filter__hidden
                                                            each i in filter4
                                                                .filter__item
                                                                    .filter__check
                                                                        label.check
                                                                            input(type='checkbox' name='cpu' value=i).check__input
                                                                            span.check__wrap
                                                                                span.check__fake
                                                                                span.check__title= i
                                                    +filterMore()
                                                //- Оперативная память
                                                .filter
                                                    .filter__title Оперативная память
                                                    .filter__list
                                                        each i in filter5
                                                            .filter__item
                                                                .filter__check
                                                                    label.check
                                                                        input(type='checkbox' name='ddr' value=i).check__input
                                                                        span.check__wrap
                                                                            span.check__fake
                                                                            span.check__title= i
                                                        .filter__hidden
                                                            each i in filter5
                                                                .filter__item
                                                                    .filter__check
                                                                        label.check
                                                                            input(type='checkbox' name='ddr' value=i).check__input
                                                                            span.check__wrap
                                                                                span.check__fake
                                                                                span.check__title= i
                                                    +filterMore()

                                            //- bottom
                                            .filters__bottom
                                                button(type='reset').filters__reset.btn.btn_g Сбросить фильтры

                                //- count
                                .list__count
                                    select.count.select
                                        option(value='24') 24
                                        option(value='12') 12


                            //- items
                            .list__items
                                .row
                                    +items([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24],'item_4')
                            //- pag
                            .list__pag
                                .pag
                                    a(href='list-search.html').pag__prev.btn.btn_g Предыдущая страница
                                    a(href='list-search.html').pag__item.btn.btn_g.active 1
                                    a(href='list-search.html').pag__item.btn.btn_g 2
                                    a(href='list-search.html').pag__item.btn.btn_g 3
                                    a(href='list-search.html').pag__next.btn.btn_g Следующая страница






