mixin icon(iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`/images/icons/sprite.svg#${iconName}`)

mixin iconPath(iconPath,iconName, iconClass)
    svg(class=`${iconClass}`)
        use(xlink:href=`${iconPath}/sprite.svg#${iconName}`)

mixin image(imagePath, imageAlt, imageClass)
    img(src=`${imagePath}`, alt=`${imageAlt}`, class=`${imageClass}`)

mixin blog(arr)
    .blog
        each i in arr
            a(href='news.html').blog__item
                img(src='images/content/blog/' + i + '.jpg' alt='lorem').blog__img

mixin actions()
    .actions
        .actions__top
            .actions__title.title Акции
            a(href='news.html').actions__link.link Смотреть все
        .actions__timer
            div(data-date='2019,09,20').timer
                div(data-id='days' data-name='Дней').timer__item.timer__days 0
                div(data-id='hours' data-name='Час').timer__item 0
                div(data-id='minutes' data-name='Мин.').timer__item 0
                div(data-id='seconds' data-name='Сек.').timer__item 0


        .actions__item
            +items([1],'item_actions')

mixin items(arr, dopClass)
    each i in arr
        a(href='product.html' class=dopClass).item
            //- top
            .item__top
                //- img
                .item__img
                    img(src='images/content/products/img.jpg' alt='lorem').item__img
                //- controls
                .item__controls
                    .item__control.jsFavorite
                        +icon('heart', 'item__control-svg')
                    .item__control.jsCompare
                        +icon('recycle', 'item__control-svg')

            //- bottom
            .item__bottom
                //- category
                .item__cat Видеокарты

                //- title
                .item__title Видеокарта AMD (ATI) Radeon RX 570 Sapphire Pulse PCI-E 8192Mb

                //- rating
                .item__rating
                    .item__stars
                        .item__star.active
                            +icon('star', 'item__star-svg')
                        .item__star.active
                            +icon('star', 'item__star-svg')
                        .item__star.active
                            +icon('star', 'item__star-svg')
                        .item__star.active
                            +icon('star', 'item__star-svg')
                        .item__star
                            +icon('star', 'item__star-svg')


                    .item__rating-count (12)

                //- pricing
                .item__pricing
                    .item__price
                        .price
                            .price__val 12.290
                            .price__cur руб.
                    .item__oldprice
                        .price.price_old
                            .price__val 14.365
                            .price__cur руб.


                //- buttons {
                .item__buttons
                    .btn.btn_g.item__one.jsItemOne купить в 1 клик
                    .item__buy.jsItemBuy
                        .item__buy-title купить товар
                        +icon('cart', 'item__buy-svg')

mixin new(arr)
    each i in arr
        a(href='article.html').new
            .new__img
                img(src='images/content/news/img.jpg' alt='lorem').new__pic
                .new__date 11.08.19
            .new__content
                .new__title Гаджеты для современных школьников
                .new__desc Какие гаджеты необходимы современным школьникам? Подробнее разберем в нашей статье.

mixin revs()
    .revs
        .revs__top
            .revs__title.title Отзывы
            a(href='reviews.html').revs__link.link Смотреть все
        .revs__list
            a(href='reviw.html').rev
                .rev__top
                    .rev__img
                        img(src='images/content/reviews/img.jpg' alt='lorem').rev__pic
                .rev__bottom
                    .rev__author Рудой Аркадий
                    .rev__prof Генеральный директор холдинга «Кабельный альянс»
                .rev__link Читать отзыв

mixin revs2(dopClass)
    .revs
        .revs__top
            .revs__title.title Отзывы
            a(href='reviews.html').revs__link.link Смотреть все
        .revs__list
            a(href='reviw.html' class=dopClass).rev
                .rev__top
                    .rev__img
                        img(src='images/content/reviews/img.jpg' alt='lorem').rev__pic
                .rev__bottom
                    .rev__author Рудой Аркадий
                    .rev__prof Генеральный директор холдинга «Кабельный альянс»
                .rev__link Читать отзыв
            a(href='reviw.html' class=dopClass).rev
                .rev__top
                    .rev__img
                        img(src='images/content/reviews/img.jpg' alt='lorem').rev__pic
                .rev__bottom
                    .rev__author Рудой Аркадий
                    .rev__prof Генеральный директор холдинга «Кабельный альянс»
                .rev__link Читать отзыв

mixin rev()
    a(href='reviw.html').rev
        .rev__top
            .rev__img
                img(src='images/content/reviews/img.jpg' alt='lorem').rev__pic
        .rev__bottom
            .rev__author Рудой Аркадий
            .rev__prof Генеральный директор холдинга «Кабельный альянс»
        .rev__link Читать отзыв


mixin slider(title, name, dopClass)
    div(class=name).slider
        .slider__top
            +sliderTitle(title)
        .slider__bottom
            .swiper-container.slider__container
                .swiper-wrapper
                    each i in [1,2,3,4,5,6,7,8]
                        .swiper-slide.slider__slide
                            +items([1],dopClass)
mixin sliderTitle(title)
    .slider__title.title= title
    .slider__nav
        button(type='button').slider__prev.arrow
            +icon('arr-l','arrow__svg')
        button(type='button').slider__next.arrow
            +icon('arr-r','arrow__svg')

mixin filterMore()
    .filter__more
        button(type='button').filter__more-btn
            span.filter__more-title Показать всё
            +icon('angle', 'filter__more-svg')
        button(type='button').filter__more-btn
            span.filter__more-title Скрыть
            +icon('angle', 'filter__more-svg')

mixin contactsNav(activeIndex)
    .anav
        a(href='about.html' class=activeIndex == 1 ? 'active' : '').anav__item.btn.btn_g О компании
        a(href='career.html' class=activeIndex == 2 ? 'active' : '').anav__item.btn.btn_g Карьера в компании
        a(href='contacts.html' class=activeIndex == 3 ? 'active' : '').anav__item.btn.btn_g Контакты



